.jumbotron
{
    background: url(/images/pattern.svg);
    color: tint(#5d2f75, 95%);
    margin-top: -30px;
}

.content a
{
    text-decoration: underline;
}

.content dd a
{
    text-decoration: none;
}

