.jumbotron {
    background: url(/images/pattern.svg);
    color: tint(#5d2f75, 95%);
    margin-top: -30px;

    .container {
        margin-left: 15px;
        h1 {
            margin-left: 15px;
            margin-top: 15px;
        }
    }
}

.content a
{
    text-decoration: underline;
}

.content dd a
{
    text-decoration: none;
}

