@import "bootstrap/variables.less";

.jumbotron {
    background: url(/images/pattern.svg);
    color: tint(#5d2f75, 95%);
    margin-top: -30px;

    .container {
        margin-left: 15px;
        h1 {
            margin-left: 0px;
            margin-top: 15px;
        }
    }
}

.content a {
    text-decoration: underline;
}

.content dd a {
    text-decoration: none;
}

.doc-img {
    display: block;
    max-width: 50%;
    margin: 32px auto;
}

pre {
    margin: 16px 0;
}

blockquote {
    padding: 12px 24px;
    margin: 0 0 12px;
    font-size: @font-size-small;
    border-left: 5px solid #eeeeee;
}