Title: Avalonia UI Framework
NoSidebar: true
NoTitle: true
NoContainer: true
---

<div class="jumbotron">
    <div class="container">
        <h1>Avalonia</h1>
        <p>A cross platform XAML Framework for .NET Framework, .NET Core and Mono</p>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-md-4 text-justify">
            <h2>XAML</h2>
            <p>Avalonia uses a XAML dialect that should feel immediately familiar to anyone coming from WPF, UWP and Xamarin Forms.
            <p>Avalonia supports binding, MVVM, lookless controls and data templates just as you'd expect from a XAML framework.
        </div>
        <div class="col-md-4 text-justify">
            <h2>Cross Platform</h2>
            <p>We support Windows, Linux and OSX with experimental mobile support for Android and iOS.
            <p>We currently have Win32, GTK3 and MonoMac windowing backends plus Direct2D and Skia renderers.
        </div>
        <div class="col-md-4 text-justify">
            <h2>Open Source</h2>
            <p>Avalonia is developed by a global community of enthusiasts in our <a href="https://github.com/AvaloniaUI/Avalonia">GitHub repository</a>
            and in our <a href="https://gitter.im/AvaloniaUI/Avalonia">gitter channel</a>. Everything is done in the open and we're always looking
            for new contributors.
            <p>Drop by and say hi!
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-8">
            <h2>Getting Started</h2>
            <p>See our <a href="docs/quickstart">quickstart guide</a> for information on how to get started with Avalonia using Visual Studio 2017 and .NET
            core.
            <p>More IDEs and editors coming soon.
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="images/hello-world-xaml.png">
        </div>
    </div>


    <hr>

    <h2>Current Status</h2>

    We're currently in a beta phase, which means that the framework is generally usable for writing applications, but there may be some bugs
    and breaking changes as we continue development.

</section>

